.card-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon-link {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.header-title {
    display: inline-block;
}