/* You can add global styles to this file, and also import other style files */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(./assets/Images/background.svg);
    background-size: 100%;
    font-style: Sans-serif;
}

input.ng-invalid.ng-touched {
    box-shadow: none !important;
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid #42A948;
    border-left: 5px solid #42A948;
}